# Laravel 4 specific
# Laravel 5 & Lumen specific
# folder cache
# folder images
# folder logs and system
#else folder
.env
.env.*.php
.env.php
.htaccess
.idea/
.phpunit.result.cache
.vscode/
/.vagrant
/.vscode
/cache/
/node_modules
/dist/themes/builder/
/storage/*.key
/themes/builder/move-to-public/
/vendor
Homestead.json
Homestead.yaml
app/storage/
bootstrap/compiled.php
database.sqlite
gzip.php
modules/*/Config/backup/
npm-debug.log
package-lock.json
dist/hot
dist/storage
dist/watermark/watermark.png
stats.json
storage/*.key
vendor/
yarn-error.log

/dist/css/
/dist/js/
/dist/fonts/
/dist/image/
/dist/index.html
