
form label {
    position: relative;
    display: flex;
}

.errors-wrapper {
    position: absolute;
    z-index: 150;
    top: 0;
    right: 0;
    line-height: 1;
    display: flex;
}

.error-msg {
    font-size: 75%;
    color: #ac0000;
}

.error-msg + .error-msg {
    margin-left: 15px;
}

footer .footer-form .errors-wrapper {
    position: absolute;
    z-index: 150;
    top: auto;
    bottom: 100%;
    left: 0;
    right: auto;
    line-height: 1.2;
    display: flex;
    background: #fff;
    margin-bottom: 1px;
    padding: 0 5px;
}